*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}
body{
    width: 100%;
    height: 100dvh;
    background: url(./img/Light\ Brown\ Cream\ and\ Peach\ Modern\ Chic\ Personal\ Wall\ Calendar\ \ \(1\).jpg);no-repeat center center;
    background-size: cover;
}
h1{
    color: #fffb00;
    margin-left: 46%;
    margin-top: 8%;
    font-size: 0.7em%;
}
h2{
    color: #ffffff;
    margin-left: 3%;
    margin-top: 13%;
}
h3{
    color: #f7de00;
    margin-left: 17%;
    margin-top: 4%;
    font-style: italic;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.7em%;
}