*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}
body{
    width: 100%;
    height: 100dvh;
    background: url(./img/Light\ Brown\ Cream\ and\ Peach\ Modern\ Chic\ Personal\ Wall\ Calendar\ \ \(1\).jpg);no-repeat center center;
    background-size: cover;
}
h1{
    color: #ffffff;
    margin-left: 40%;
    
}